/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

body {
    display: grid;
    grid: 75px 1fr / 200px auto;
    grid-template-areas: 'header header'
                         'sidebar content';
    height: 100vh;
}

#header{
 grid-area: header;
 background-color: blue;
}
/*Sidebar*/
#sidebar{
    grid-area: sidebar;
    background-color: yellow;
    padding-left: 0.3rem;
}
#sidebar label {
    font-family: Arial;
    font-size: 0.75rem;
}
.sideBarMenu {
    cursor: pointer;
}
.subMenu {
    display: none;
}
.subMenu.show {
    display: block;
}
/*Content*/
#content{
 padding-top: 10px;
 grid-area: content;
 background-color: blueviolet;
 overflow-y: scroll;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 row-gap: 1rem;
}

.book{
    flex: 0 1 24%;
    height: 10rem;
    border: 1px solid rgb(0, 255, 4);
    border-radius: 1rem;
    padding: 1rem;
}